# Environment
.env

# Firebase secret
firebase_service_account.json

# Virtual environments
venv/
venv_frontend/

# Python cache
__pycache__/
*.pyc

# Database
*.db

# Streamlit
.streamlit/




# Reports generated during training
reports/

# OS files
.DS_Store
Thumbs.db